certifi==2020.11.8
chardet==3.0.4
dataclasses==0.6
decorator==4.4.2
future==0.18.2
idna==2.10
imageio==2.9.0
imageio-ffmpeg==0.4.2
moviepy==1.0.3
numpy==1.19.4
Pillow==8.0.1
proglog==0.1.9
requests==2.25.0
torch==1.7.0+cpu
torchvision==0.8.1+cpu
tqdm==4.53.0
typing-extensions==3.7.4.3
urllib3==1.26.2
